html
	head
		title="Professor Rating System"
		script(src="https://www.google.com/recaptcha/api.js")
		link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
		link(rel='stylesheet', type='text/css', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')

		link(rel='icon', type='image/png', href='/images/icons/favicon.ico')
		link(rel='stylesheet', type='text/css', href='/vendor/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')
		link(rel='stylesheet', type='text/css', href='/vendor/animate/animate.css')
		link(rel='stylesheet', type='text/css', href='/vendor/css-hamburgers/hamburgers.min.css')
		link(rel='stylesheet', type='text/css', href='/vendor/select2/select2.min.css')
		link(rel='stylesheet', type='text/css', href='/css/util.css')
		link(rel='stylesheet', type='text/css', href='/css/main.css')


	body.bg-light
		nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
			ul.navbar-nav
				li.nav-item
					a.nav-link.active(href="/") Home
				li.nav-item
					a.nav-link.active(href="/") Add Professor
		.jumbotron.text-justify
			.row
				.col 
					h6 Name:
					h2 #{prof.name}
				.col 
					h6 School:
					h2 #{prof.school} 
				.col 
					h6 Overall Score: 
					h2 #{prof.overall.toFixed(2)} 
				.col 
					h6 Difficulty: 
					h2 #{prof.difficulty.toFixed(2)}			
		.container(style="width:80%; margin-bottom:10em;")
			p
			form#rateForm(method='POST' action=post)
				.form-group
					label(for="course") Course:
					select#course.form-control(name='course')
						each course in prof.courses
							option(value=course._id) #{course.cid}
				.form-group
					label(for="overall") Overall Score:
					input.form-control(type='number' min='0' max='5' step='1' name="overall" id="overall" placeholder=0)
				.form-group
					label(for="difficulty") Difficulty:
					input.form-control(type='number' min='0' max='5' id="difficulty" name="difficulty" placeholder=0)
				.form-group
					label(for="comment") Comments:
					textarea#comment.form-control(name="comment")
				.form-group
					p !{captcha}
				button.btn.btn-primary#formSubmitButton(type="submit") Rate
			if ratings.length
				table.ratings.table.table-striped
					thead
						th Date
						th Course
						th Overall Score
						th Difficulty
						th Comments
					tbody
						each rating in ratings
							if rating.comment
								tr
									td= rating.date.toLocaleString()
									td= rating.course.cid
									td= rating.overall
									td= rating.difficulty
									td= rating.comment 


			script.
				function cb(token){
					console.log('token', token);
					var input = document.createElement('input');
					input.setAttribute('type', 'text');
					input.setAttribute('name', 'g-recaptcha-response');
					input.setAttribute('value', token);
					document.getElementById('rateForm').appendChild(input);
					//- document.getElementById('formSubmitButton').disabled = 'false'
					//- alert('asdf')
				}